main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: grid;

    width: 80vmin;
    height: auto;

    margin: 20px;
}

.grid-square {
    border: 1px solid black;
    margin-left: -1px;
    margin-top: -1px;
}